<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

<div> 
  <h1 class="text-2xl mb-4">To-Do List</h1>

  <%= form_with(model: Todo.new, local: true) do |form| %>
    <%= form.text_field :description, placeholder: "What needs to be done?" %>
    <%= form.button type: "submit" do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  <% end %>

  <% if @todos.any? %>
    <table class="mx-auto bg-white rounded-lg p-4 shadow-md w-fit">
      <tbody id="todo-list">
        <% @todos.each do |todo| %>
          <tr data-id="<%= todo.id %>" class="cursor-move">
            <td>
              <%= form_with(model: todo, url: todo_path(todo), method: :patch, local: true, id: "form_#{todo.id}") do |f| %>
                <input
                  type="checkbox"
                  id="checkbox_<%= todo.id %>"
                  <%= "checked" if todo.completed? %>
                  onchange="toggleStrikeThrough(<%= todo.id %>)"
                />

                <span id="description_wrapper_<%= todo.id %>">
                  <%= f.text_field :description,
                                  id: "input_#{todo.id}",
                                  value: todo.description,
                                  class: "border rounded px-2 py-1 text-sm w-full",
                                  disabled: true %>
                </span>

                <button
                  type="button"
                  id="edit_button_<%= todo.id %>"
                  onclick="toggleEdit(<%= todo.id %>)"
                  class="text-blue-600 underline text-sm"
                >
                  <i class="fas fa-pen"></i>
                </button>
              <% end %>
            </td>

            <td>
              <%= button_to todo_path(todo), method: :delete, class: "delete-button" do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
